:root {
  --primary: #61b65b;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #285134;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}
#hamburger-menu {
  display: none;
}
/* navbar end */

/* hero start */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(https://i.pinimg.com/1200x/84/11/6e/84116eb6329e84b6911faea4c4d67620.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg rgb(1, 3, 1) 3%, rgba(255, 255, 255, 0) 25%);
  mix-blend-mode: difference;
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  position: absolute;
  right: 0%;
  text-align: end;
}
.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: green;
}

.hero .content p {
  /* font-weight: bold; */
  padding: 8px;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.2rem;
  /* font-weight: bold; */
  text-shadow: 5px 5px 3px black;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* .ombak {
  filter: blur(6px);
} */
/* Aboout */
.about {
  padding: 1rem 7% 1.4rem;
  margin-top: 4rem;
}
.about-img,
.content h3,
.content p {
  background-color: #2851342f;
  padding: 3rem;
}
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 30rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* menu section */
.container-dua {
  display: flex;
}

.menu-content {
  flex: 2;
  padding: 2rem;
  font-size: 20px;
  background-color: rgba(43, 43, 43, 0.658);
  margin-top: 5rem;
}
.menu-utama {
  background-color: #61b65b56;
  padding: 2rem 4rem;
}
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: 2rem auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex: 8;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}
.menu .row .menu-card .menu-title {
  margin: 1rem auto 0.5rem;
}

/* Contact Section */
.container-satu {
  display: flex;
}
.container-satu h1 {
  font-size: 2.6rem;
  text-align: center;
  margin-top: 5rem;
}
.container-tiga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
.thumbnail {
  width: 30%;
  display: flex;
  flex-wrap: wrap-reverse;

  padding: 1rem;
}
.thumbnail img {
  width: 100%;
  height: 90%;
}

.contact .row {
  display: flex;
  margin-top: 2rem;

  padding: 2rem;
}
.contact .row .map {
  flex: 1 1 45rem;
  object-fit: cover;
  margin-right: 20px;
}

.contact .row .form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 55%;
  padding: 1rem;
  font-size: 1.7rem;
  background-color: black;
  color: #fff;
}
.contact .row form .btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  margin-top: 6px;
}

/* footer */
footer {
  background-color: #214a2d7d;
  padding: 2rem 3rem;
  margin-top: 1rem;
}
.container-footer {
  display: flex;
  font-weight: 300;
}
footer h2 {
  margin: 1rem 2.5rem;
  font-size: 1.8rem;
}
footer .sekat4 h2,
footer .sekat4 p {
  margin-left: auto;
}
footer ul li {
  list-style-type: none;
}
.sekat4 {
  margin-left: 2rem;
}
.sekat1 p a,
.sekat2 p a,
.sekat3 p a,
.sekat4 p a {
  margin-left: 2rem;
  max-width: 600px;
  font-size: 1.4rem;
  color: white;
  line-height: 3rem;
}
.container-footer .sekat1 {
  flex: 2;
}
.container-footer .sekat2 {
  flex: 5;
}
.container-footer .sekat4 {
  flex: 4;
}
.container-footer .sekat4 p {
  line-height: 2rem;
  font-size: 14px;
}
.sosial {
  margin-top: 1rem;
}

/* 
footer .sosial a,
footer .links a {
  color: #fff;
  margin: 1rem;
}

footer .sosial a:hover,
footer .sosial a:hover {
  color: var(--primary);
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
} */
/* media queries

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 20rem;
    height: 100vh;
    transition: 0.6s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5px;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about {
    margin-top: 4rem;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
  }

  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
  .container-dua {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .menu-card,
  .menu-utama {
    padding: 4rem;
    margin: 1rem;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: #0c2f0ae5;
  }
  .container-dua img {
    display: flex;
    justify-self: center;
  }
  .thumbnail {
    flex-direction: column;
    width: 240px;
  }
  .menu p {
    font-size: 1.2rem;
  }
  .thumbnail {
    flex-direction: column;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    margin: 3rem;
  }

  .container-footer {
    flex-direction: column;
  }
  .container-footer h2 {
    font-size: 14px;
    /* align-items: baseline; */
  }

  /* .sekat1 p a,
  .sekat2 p a,
  .sekat3 p a,
  .sekat4 p a {
    margin-left: 1px;
  } */
  .sekat1,
  .sekat2,
  .sekat3 {
    margin-left: 1px;
  }
  .sekat4 {
    margin-left: 2rem;
  }

  .sosial {
    margin-top: 1rem;
  }
}

/* Hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
